<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/index.css">

    <title>Foq!</title>

    <link rel="icon" href="../static/img/Logo.png" type="image/png">

</head>

<body>

    <header>

        <p>Foq!</p>

        <button type="button" id="btLogin">Login</button>

        <button type="button" id="btLogout">Logout</button>

    </header>

    <!-- Relógio -->

    <div id="clock">
        <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
    </div>

    <!-- Dia -->

    <div class="day">
        <span id="date"></span>
    </div>

    <!-- Overlay geral --> 

    <div id="overlay">

    </div>

    <!-- Pop Up para a confirmação de logout -->

    <div id="popUpLogout">

        <form>

            <p>Are you sure you want to logout?</p>

            <div id="buttons">

                <button type="button" id="btYesLogout">Yes</button>

                <button type="button" id="btNoLogout">No</button>

            </div>

        </form>

    </div>

    <!-- Pop Up para Login -->

    <div id="popUpLogin">

        <form>

            <p>Foq!</p>

            <label for="usernameLogin">Username:</label>

            <input type="text" id="usernameLogin" required>

            <label for="passwordLogin">Password:</label>

            <input type="password" id="passwordLogin" required>

            <button type="button" id="btSubmitLogin">Submit</button>

            <button type="button" id="btRegister">Don't have it? Create now!</button>

        </form>

    </div>

    <!-- Pop Up para Registro -->

    <div id="popUpRegister">

        <form>

            <p>Foq!</p>

            <label for="emailRegister">Email:</label>

            <input type="email" id="emailRegister" name="emailRegister" required>

            <label for="fullNameRegister">Full Name:</label>

            <input type="text" id="fullNameRegister" name="fullNameRegister" required>

            <label for="usernameRegister">Username:</label>

            <input type="text" id="usernameRegister" name="usernameRegister" required>

            <label for="passwordRegister">Password:</label>

            <input type="password" id="passwordRegister" name="passwordRegister" required>

            <button type="button" id="btSubmitRegister">Submit</button>

        </form>

    </div>

    <button type="button" id="btAdicionarTask">Add task</button>

    <!-- Todas as tasks do usuário -->

    <div id="listTasks">

    </div>

    <!-- Pop Up para visualizar Task -->

    <div id="popUpTask">

        <form>

            <label for="taskTitle">Title:</label>

            <input type="text" id="taskTitle" required>

            <label for="taskDescription">Description:</label>

            <textarea id="taskDescription" required></textarea>

            <button type="button" id="btUpdateTask" title="Update task">Update</button>

        </form>

    </div>

    <!-- Pop Up para adicionar Task -->

    <div id="popUpAddTask">

        <form>

            <label for="addtaskTitle">Title:</label>

            <input for="addtaskTitle" id="addtaskTitle" type="text">

            <label for="addtaskDescription">Description:</label>

            <textarea for="addtaskDescription" id="addtaskDescription" type="text"></textarea>

            <button type="button" id="btSubmitAddTask" title="Submit task">Submit</button>

        </form>

    </div>

    <!-- Toast para a confirmação do Submit -->

    <div id="toastGreen">

        <p>Task created!</p>

    </div>

    <!-- Toast para a confirmação do Submit -->

    <div id="toastBlue">

        <p>Updated task!</p>

    </div>

    <script src="../static/js/clock.mjs" type="module"></script>
    <script src="../static/js/popUpLogin.mjs" type="module"></script>
    <script src="../static/js/popUpRegister.mjs" type="module"></script>
    <script src="../static/js/popUpAddTask.mjs" type="module"></script>
    <script src="../static/js/btLogout.mjs" type="module"></script>
    <script src="../static/js/overlay.mjs" type="module"></script>
    <script src="../static/js/index.mjs" type="module"></script>

</body>

</html>