@keyframes queda {

    from {

        top: -100%;

    }

    to {

        top: 50%;

    }

}

@keyframes aparecer {

    from {

        opacity: 0;

    }

    to {

        opacity: 1;

    }

}