/* Clock */

#clock {
    font-family: 'Quicksand', monospace;
    font-size: 2em;
    color: #fff;
    margin-top: 2vh;
    font-size: 100px;
    letter-spacing: 10px;
}

#clock span {

    display: inline-block;
    width: 2ch;
    text-align: center;
    padding-left: 20px; 
    padding-right: 20px; 

}

/* Mobile */

@media screen and (max-width: 600px) {

    #clock {

        font-size: 32px;
        
    }

}

