header {

    width: 100vw;
    height: 8vh;
    background-color: #202020;
    text-align: center;

}

header p {

    font-size: 1.5em;
    cursor: default;
    user-select: none;
    position: absolute;
    margin-left: 50px;
    left: 10;
    color: #fff;
    
}

header #btLogin {

    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    color: #fff;
    border: 2px solid #202020;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

header #btLogin:hover {

    background-color: #202020;
    color: #707070;
    cursor: pointer;

}

header #btLogout {

    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    color: #ff0000;
    border: 2px solid #202020;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 20px;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;

}

header #btLogout:hover {

    background-color: #202020;
    color: #850000;
    cursor: pointer;

}