#listTasks {

    border-radius: 10px;
    position: relative;
    background: transparent;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

#listTasks .task {

    height: 50px;
    border-radius: 10px;
    background: #202020;
    width: 30vw;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid #000;
    transition: 0.5s ease;
    margin: 5px;

}

#listTasks .task:hover {

    transform: scale(1.01);

}

#listTasks .task #statsBar {

    width: 200px;
    margin: 10px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;

}

#listTasks .task #btRemove {

    background-color: rgb(160, 0, 0);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

}

#listTasks .task #btRemove:hover {

    background-color: rgb(112, 0, 0);
    cursor: pointer;

}