#popUpLogout{

    position: fixed;
    display: none;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
    z-index: 1;
    width: 500px;
    height: 200px;
    animation: aparecer 0.5s;
    font-weight: bold;
    padding: 30px;

}

#popUpLogout form{

    width: 500px;

}

#popUpLogout form p{

    text-align: center;

    width: 100%;

    font-size: 24px;

}


#popUpLogout form #buttons{

    display: flex;
    justify-content: space-around;
    width: 100%;

}

#popUpLogout form #buttons button{

    background-color: #000000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    height: 30px;
    width: 100px;

}

#popUpLogout form #buttons button:hover{

    color: #505050;
    cursor: pointer;

}